*{
    margin: 0;
    padding: 0;
}

/* .header_l{
    text-align: left;
} */
/* .header{
    text-align: center;
} */
/* .content{
    margin: 0 auto;
    text-align: center;
} */
/* .bottom{
    margin: 0 auto;
    text-align: center;
} */

/* .finish_content{
    padding-top: 100px;
    font-size: 48px;
} */
/* .finish_bottom{
    font-size: 32px;
    padding-top: 300px;
} */
/* .finish_btn1{}
.finish_btn2{
    padding-top: 50px;
}
input[type="text"]{
    border:1px solid #000;
}
 */


/* .receive_header{
    padding-top: 50px;
}
.receive_content{
    padding-top: 300px;
} */

/* .write-introduce_content{
    padding-top: 50px;
} */
/* .write-introduce_bottom{
    padding-top: 50px;
} */
/* .text2{
    padding-top: 50px;
    height: 300px;
} */

/* .year{
    padding-top: 200px;
    padding-bottom: 200px;
} */

/* #page2 span{
    display: inline-block;
    border: 1px solid #000;
}
input[type="radio"]:checked+span{
    background-color: blue;
} */
/* .write-one_content{
    padding-top: 50px;
    text-align: center;
} */
/* .write-one_bottom{
    padding-top: 50px;
    text-align: center;
} */
/* .write-one_element{
    padding-top: 400px;
    position: relative;
    right: 50px;
} */
/* .write-TA_element{
    padding-top: 200px;
} */
/* .write-TA_content{
    padding-top: 100px;
} */

/* .voice{
    position: relative;
    left: 20px;
} */
/* .paper1{
    position: relative;
    right: 40px;
} */
/* .paper2{
    position: relative;
    left: 30px
} */
/* .write-TA-re_header{
    width: 250px;
    padding-top: 100px;
}
.write-TA-re_content{
    width: 150px;
}
.username{
    padding-top: 100px;
}
.write-TA-re_phone{
    padding-top: 50px;
}
.write-TA-re_email{
    padding-top: 50px;
    padding-bottom: 50px;
} */
/* .play{
    position: relative;
    left:40px;
} */
