.content{
    padding-top: 100px;
    font-size: 48px;
    text-align: center;
}
.bottom{
    padding-top: 300px;
    text-align: center;
    font-size: 32px;
}
.btn2{
    padding-top: 50px;
}