input[type="text"]{
    border:1px solid #000;
}
#head_pic_div{
    display: none;
    width: 300px;
    height: 100px;
}
.header{
    text-align: center;
}
.content{
    text-align: center;
}
.bottom{
    padding-top: 50px;
    text-align: center;
}
.nickname{
    padding-top: 100px;
}
.head_pic{
    padding-top: 50px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
.phone{
    padding-top: 50px;
}
.email{
    padding-top: 50px;
}
.head_pic_input{
    position: relative;
    left: 20px;
}
.head_pic_div{
    position: relative;
    right: 50px;
}
