/* 加了地图的 */
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width:max-content;
    /* overflow-y: hidden; */
}
.map::-webkit-scrollbar{
    display: none;
}
.header{
    position: fixed;
    text-align: left;
}
.map{
    display: none;
    z-index: -9;
    position: absolute;
    top: 0;
    margin: 0;
    height: 100%;
    width: 300%;
    background-image: url("../images/map.jpg");
    background-size: 120%;
    background-position-x: center;
    background-repeat: no-repeat;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
#img_map{
    height: 200vh;
    position: absolute;
    top: 0px;
    z-index: -9;
}
.content{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 400px;
}
.bottom_btn{
    position: fixed;
    text-align: center;
    width:100px;
    height:50px;
    top:calc(50% - 25px);
    top: 60%;
    left:calc(50% - 50px)
}
.btn{
    margin-bottom: 20px;
width:100px;
height:60px;
 background-color: black;
}
.getInfo{
    display: none;
    position: fixed;
    width: 50%;
    height: max-content;
    left: 0;
    right: 0;
    bottom: 50%;
    top: 25%;
    margin: auto;
    z-index: 3;
    padding: 35px 35px 35px 35px;
    background-color: antiquewhite;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}
.info_name{
    font-size: 20px;
    white-space: pre;
    width: 30px;
    margin-right: 40px;
}
.icon_container{
    height: 50px;
    width: 100%;
    /* background: white; */
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#head_pic{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 2rem;
    outline: none;
}
.info_input{
    width: 80%;
}
#submitInfo{
    width: 50%;
    height: 30px;
    margin-left: 25%;
}