/* 加了地图的 */
*{
    margin: 0;
    padding: 0;
}



body{
    height: 100%;
    width:max-content;
    /* overflow-y: hidden; */
        -webkit-user-select: none; /*webkit浏览器*/
        user-select: none;
}
.map::-webkit-scrollbar{
    display: none;
}
.header{
    position: fixed;
    text-align: left;
}
.map{
    display: none;
    z-index: -9;
    position: absolute;
    top: 0;
    margin: 0;
    height: 100%;
    width: 300%;
    background-image: url("../images/map.jpg");
    background-size: 120%;
    background-position-x: center;
    background-repeat: no-repeat;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
#img_map{
    height: 135vh;
    position: absolute;
    top: 0px;
    z-index: -9;
}
.content{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 400px;
}
.bottom_btn{
    position: fixed;
    text-align: center;
    width:150px;
    height:80px;
    top:calc(50% - 25px);
    top:  76%;
    left:calc(50% - 75px)
}
.btn{
    margin-bottom: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
/* width:100px;
height:60px; */
width: 20vh;
height: 32px;
}
#getInfo{
    display: none;
    position: fixed;
    width: 50%;
    height: max-content;
    left: 0;
    right: 0;
    bottom: 50%;
    top: 25%;
    margin: auto;
    z-index: 3;
    padding: 35px 35px 35px 35px;
    background-color: antiquewhite;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}
.info_name{
    font-size: 20px;
    white-space: pre;
    width: 30px;
    margin-right: 40px;
}
.icon_container{
    height: 50px;
    width: 100%;
    /* background: white; */
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#head_pic{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 2rem;
    outline: none;
}
.info_input{
    width: 80%;
}
#submitInfo{
    width: 50%;
    height: 30px;
    margin-left: 25%;
}
#go_write{
    background-image: url("../images/我要写信.png");
    width: 100%;
}
#go_receive{
    background-image: url("../images/我要收信.png");
    width: 100%;
}
#go_intro{
    background-image: url("../images/说明.png");
    width: 6vh;
    height: 9vh;
    background-size: cover;
    margin-left: 10px;
    margin-top: 10px;
}
#mapmap{
    z-index: -1;
    outline: none;
    user-select: none;
    position: absolute;
    /* width: 750vw;
    height: 290vw; */
    /* width: 600%;
    height: 130%; */
    width: 340vh;
    height: 135vh;
    top: 0;
    left: 0;
}
area{
    position: absolute;
    width: 20vh;
    height: 17vh;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#A1{
    /* top: 40vw;
    left: 30vw; */
    top: 18vh;
    left: 12vh;
}
#A2{
    bottom: 30vh;
    left: 10vw;
    /* bottom: 75vw;
    left: 20vw; */
}
#A3{
    top: 50vh;
    left: 130vh;
    /* top: 120vw;
    left: 275vw; */

}
#A4{
    right: 109vh;
    top: 30vh;
}
#A5{
    right: 86vh;
    top: 20vh;

}
#A6{
    right: 50vh;
    bottom: 20vh;
}
#A7{
    /* right: 20vw;
    bottom: 150vw; */
    right: 0vh;
    bottom: 70vh;
}
/* 以上为area定位 */
area.go:before {
    content: " ";
    display: block;
    height: 40px;
    width:  13vw;
    background: url("../images/地图-箭头.png") no-repeat;
    background-size: contain;
    margin-left: 13vw;
    animation-delay:0.1s;
    animation: fadeIn 1.2s;
    animation-iteration-count:2;
    animation-direction:alternate reverse;
    animation-fill-mode: forwards;
}
@keyframes fadeIn{
    0%{opacity: 0;margin-top: -30px;}
    25%{opacity: 1;margin-top: 0px;}
    75%{opacity: 1;margin-top: -40px;}
    100%{opacity: 0;margin-top: 0px;}
}
/* 箭头动画↑ */
#mai_att{
    position: fixed;
    width: 70vw;
    height: 30vh;
    left: 15vw;
    right: 0;
    /* bottom: 50%; */
    top: 25%;
    /* margin: auto; */
    z-index: 2;
    background: url(../images/地图-弹框.png) no-repeat;
    background-size: contain;
    text-align: center;
    padding-top: 10vh;
    line-height: 30px;
    font-weight: 200;
}
#mai_att>span {
    font-size: small;
    position: relative;
    bottom: -3vh;
}
#mai_anim{
    display: none;
    width: 20vh;
    height: unset;
    position: absolute;
    margin-top: -36vh;
    margin-left: -9vh;
    transform: scale(1.5);
}
/*  welcome*/
#welcome{
    width: 100vw;
    height: 100vh;
    background-color: #bfdbc5;
}
.welcome_btn{
    width: 200px;
    height: 43px;
    margin: auto;
    background-color: pink;
}
/* 说明页 */
#introduce{
    width: 100vw;
    height: 100vh;
    background-color: #bfdbc5;
}
#intro_btn{
    width: 200px;
    height: 43px;
    margin: auto;
    background-color: pink;
}