body {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #8798b0;
}
.QRcode {
  width: 100vw;
  height: auto;
  z-index: 10;
}
.prePage {
  width: 40vw;
  margin: 5vh 30vw;
}
.tip {
  text-align: center;
  color: #4f6572;
  font-size: 16px;
  margin-top: 2vh;
  user-select: none;
}
.wrapper{
    width: 100vw;
    height: fit-content;
    position: relative;
}
.tips{
    position: absolute;
    bottom: 0;
}