body {
    padding-top: 5%;
    margin: 0;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-image: url(../images/other/QR.jpg); */
    /* background-size: contain; */
    background-color: #8798b0;
}
.prePage{
    width: 40%;
    position: absolute;
    bottom: 10%;
    margin-left: 30%;
}
.QRcode{
    width: 100%;
    height: auto;
    z-index: -1;
    position: absolute;
}
span{
    position: absolute;
    bottom: 0px;
    color: #4f6572;
    font-size: 14px;
    bottom: 18%;
    left: 50%;
    margin-left: -40px;
}