/* 清除基础样式 */
*{
    outline: none;
}
input[type="text"] {
    border: none;
    background: none;
    border: 1px solid #000;
    color: white;
    /* margin-top: 8px; */
    padding: 10px;
    font-size: 20px;
    font-family: 'cute';
}
*{
    margin: 0;
    padding: 0;
}
.content{
    margin: 0 auto;
    text-align: center;
}
.bottom{
    margin: 0 auto;
    text-align: center;
}
.finish_content{
    padding-top: 100px;
    font-size: 48px;
}
.finish_bottom{
    font-size: 32px;
    padding-top: 300px;
}
.finish_btn1{}
.finish_btn2{
    padding-top: 50px;
}
input[type="text"]{
    border:1px solid #000;
}
.receive_header{
    padding-top: 50px;
}
.receive_content{
    padding-top: 300px;
}
/* 奇奇怪怪 */
.write-introduce_content{
    padding-top: 50px;
}
.write-introduce_bottom{
    padding-top: 50px;
}
.text2{
    padding-top: 50px;
    height: 300px;
}
/* 奇奇怪怪 */
#page2 span{
    display: inline-block;
    border: 1px solid #000;
}
input[type="radio"]:checked+span{
    background-color: blue;
}
.write-one_content{
    padding-top: 50px;
    text-align: center;
}
.write-one_bottom{
    padding-top: 50px;
    text-align: center;
}
.write-one_element{
    padding-top: 400px;
    position: relative;
    right: 50px;
}
.write-TA_element{
    padding-top: 200px;
}
.write-TA_content{
    padding-top: 100px;
}
.write-TA-re_header{
    width: 250px;
    padding-top: 100px;
}
.write-TA-re_content{
    width: 150px;
}
.username{
    padding-top: 100px;
}
.write-TA-re_phone{
    padding-top: 50px;
}
.write-TA-re_email{
    padding-top: 50px;
    padding-bottom: 50px;
}
/* 👆以上是从all.css中拿来的 */
.letter{
    display: none;
    background-image: url(../images/letter/1.png);
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}
.header_l{
    height: 2vh;
}
.write-one_content {
    padding-top: 50px;
    text-align: left;
    width: 80%;
    height: 75vh;
}
input.prePage{
    margin-top: 3vh;
    margin-left: 3vh;
    height: 4.5vh;
}
.write-one_element {
    padding-top: 0px;
    position: relative;
    right: 0px;
}
.write-one_bottom {
    height: 10vh;
    width: 100%;
    margin-top: -5vh;
    padding-top: 0px;
}
.nextPage{
    width: 50%;
}
/* 第三种信纸 */
#write-sec{
    background-image: url(../images/letter/3.png);
}
/* 同学录样式 */
#txl_img{
    position: absolute;
    top: 0;
    z-index: -1;
    /* width: 150vw; */
    height: 120vh;
    left: -10px;
}
#write-TA{
    background: none;
    height: 100vh;
    /* background-color: #eaeaea; */
    z-index: -10;
}
#write-TA>.header_l{
    margin-top: 3vh;
    margin-left: -1vh;
}
#write-TA>.add{
    float: right;
    margin-right: -15vh;
    width: 8vh;
}
/* 左边的同学录 姓名 基础内容 */
.txl_left{
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    /* background: yellow; */
    /* width: 35vh; */
    position: absolute;
    /* float: left; */
    /* margin-top: 60%; */
    /* margin-left: 10%; */
    width: 100%;
    /* height: 25vh; */
    left: 5%;
    top: 30%;
    transform: scale(0.75);
}
.txl_right,.txl_left_bottom,.txl_right_bottom{
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
}
.txl_right{
    position: absolute;
    display: flex;
    right: -50%;
    /* float: right; */
    width: max-content;
    /* left: 80vw; */
    bottom: 40%;
    /* margin-left: 30vw; */
    flex-direction: column;
    transform: scale(0.65);
}
.txl_left_bottom {
    /* width: max-content; */
    margin: 0;
    position: absolute;
    top: 50%;
    /* margin-left: 10px; */
    transform: scale(0.75);
}
.txl_right_bottom{
    position: absolute;
    bottom: 0;
    right: -60%;
    width: 200px;
    bottom: 2%;
    transform: scale(0.65);
}
.txl_contain{
    float: left;
}
.txl_input{
    margin-top: -20px;
    width: 20vh;
    height: vh;
    /* margin-left: 50px; */
    /* background-image: url(../images/letter/line2.png); */
    border-color: transparent !important;
    border-bottom-color: white !important;
    border-bottom-width: 1.5px !important;
    border-style: dashed !important;
}
.txl_textarea{
    background: none;
    border: none;
    /* background-image: url(../images/letter/line2.png); */
    position: relative;
    /* left: -125px; */
    /* margin-top: 35px; */
    width: 70vw;
    height: 56px;
    background-size: cover;
    background-position-y: 0px;
    color: white;
    font-size: 25px;
    font-family: 'cute';
    outline: none;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 4px;
}
.txl_item{
    border: none;
    color: white;
    float: left;
    font-family: 'cute';
    font-size: 28px;
    
}
#txl_tucao{
    width: 100%;
    /* margin: 0 !important; */
    height: 100px;
    left: 0;
}
.txl_left_bottom>.txl_contain{
    display: flex;
    flex-direction: column;
}
#txl_btn{
    width: 260px;
    margin: 0;
    position: absolute;
    right: -40%;
    bottom: -15%;
}
/* 以上为覆盖内容 包含同学录样式 */
/* 信纸选择器 */
.switchbox{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70vw;
    margin-left: 15vw;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    /* padding: 3%; */
    overflow-x: scroll;
}
.show_img {
    width: 30vh;
    height: 100%;
}
.show_letter{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}
/*下面是普通信纸样式 */
.letter_text{
    width: 90%;
    margin-left: 5%;
    background: none;
    outline: none;
    border: none;
    /* color: white; */
    font-family: AdobeHeitiStd-Regular;
    font-size: 15px;
    font-weight: 100;
    font-stretch: normal;
    line-height: 34px;
    letter-spacing: 0px;
    color: #ffffff;
    height: 70%;
    overflow-y: scroll;
    letter-spacing: 2px;
    background-image: url(../images/letter/line.png);
    background-position-y: 33px;
    background-repeat: no-repeat;
    background-size: cover;
}
.add{
    width: 5vh;
    margin-left: 5%;
    margin-top: 4%;
    outline: none;
}
@font-face{
    font-family: 'cute'; 
    src: url('../images/HYYOUYUANTIJ.TTF');
}

/* ！！！！！！！！！！！！！！！！！！！！！！！！！ */
/* 从这里开始是搬运过来的地图+动画 */
body{
    height: 100%;
    /* width:max-content; */
    /* overflow-y: hidden; */
        -webkit-user-select: none; /*webkit浏览器*/
        user-select: none;
}
.map::-webkit-scrollbar{
    display: none;
}
.map{
    z-index: -9;
    position: absolute;
    top: 0;
    margin: 0;
    height: 100%;
    width: 300%;
    background-image: url("../images/map.jpg");
    background-size: 120%;
    background-position-x: center;
    background-repeat: no-repeat;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
#img_map{
    height: 135vh;
    position: absolute;
    top: 0px;
    z-index: -9;
}
#mapmap{
    z-index: -1;
    outline: none;
    user-select: none;
    position: absolute;
    /* width: 750vw;
    height: 290vw; */
    /* width: 600%;
    height: 130%; */
    width: 340vh;
    height: 135vh;
    top: 0;
    left: 0;
}
area{
    position: absolute;
    width: 20vh;
    height: 17vh;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#A1{
    /* top: 40vw;
    left: 30vw; */
    top: 18vh;
    left: 12vh;
}
#A2{
    bottom: 30vh;
    left: 10vw;
    /* bottom: 75vw;
    left: 20vw; */
}
#A3{
    top: 50vh;
    left: 130vh;
    /* top: 120vw;
    left: 275vw; */

}
#A4{
    right: 109vh;
    top: 30vh;
}
#A5{
    right: 86vh;
    top: 20vh;

}
#A6{
    right: 50vh;
    bottom: 20vh;
}
#A7{
    /* right: 20vw;
    bottom: 150vw; */
    right: 0vh;
    bottom: 70vh;
}
/* 以上为area定位 */
area.go:before {
    content: " ";
    display: block;
    height: 40px;
    width:  13vw;
    background: url("../images/地图-箭头.png") no-repeat;
    background-size: contain;
    margin-left: 13vw;
    animation-delay:0.1s;
    animation: fadeIn 1.2s;
    animation-iteration-count:2;
    animation-direction:alternate reverse;
    animation-fill-mode: forwards;
}
@keyframes fadeIn{
    0%{opacity: 0;margin-top: -30px;}
    25%{opacity: 1;margin-top: 0px;}
    75%{opacity: 1;margin-top: -40px;}
    100%{opacity: 0;margin-top: 0px;}
}
/* 箭头动画↑ */
#mai_att{
    position: fixed;
    width: 70vw;
    height: 30vh;
    left: 15vw;
    right: 0;
    /* bottom: 50%; */
    top: 25%;
    /* margin: auto; */
    z-index: 2;
    background: url(../images/地图-弹框.png) no-repeat;
    background-size: contain;
    text-align: center;
    padding-top: 10vh;
    line-height: 30px;
    font-weight: 200;
}
#mai_att>span {
    font-size: small;
    position: relative;
    bottom: -3vh;
    outline: none;
    border: none;
}
#mai_anim{
    display: none;
    width: 20vh;
    height: unset;
    position: absolute;
    margin-top: -36vh;
    margin-left: -9vh;
    transform: scale(1.5);
}
/*  */