/* 清除基础样式 */
* {
    outline: none;
}

@font-face {
    font-family: 'cute';
    src: url('../images/HYYOUYUANTIJ.TTF');
}
@font-face{
    font-family: 'AA';
    src: url('../images/FZLAGBTTJW.TTF');
}
textarea {
    resize: none;
}

/* 录音动画和css */
#sing_box {
    /* display: none; */
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #000000;
    z-index: 90;
    opacity: 0.8;
}

#sing_anim {
    width: 40%;
    margin-left: 32%;
    margin-top: 50%;
    z-index: 90;
}
#recordbtn {
    opacity: 1;
    width: 60%;
    height: 6%;
    margin-left: 20%;
    background-color: #ffffff;
    border-radius: 0.8rem;
    margin-top: 35%;
    font-size: 18px;
    font-family: AA;
    color: #616161;
}
/* 录音结束 */
input[type="text"], input[type="tel"], input[type="email"] {
    border: none;
    background: none;
    border: none;
    color: white;
    margin-bottom: 5px;
    padding: 0px 0px 0px 5px;
    font-size: 20px;
    font-family: 'cute';
    width: 90px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.content {
    margin: 0 auto;
    text-align: center;
}

.bottom {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 20%;
    /* position: absolute;
    bottom: -10%; */

}

input[type="text"] {
    border: 1px solid #000;
}

.receive_header {
    padding-top: 50px;
}

.receive_content {
    padding-top: 300px;
}


.write-one_content {
    padding-top: 50px;
    text-align: center;
}

.write-one_bottom {
    padding-top: 50px;
    text-align: center;
}

.write-one_element {
    padding-top: 400px;
    position: relative;
    right: 50px;
}

/* 👆以上是从all.css中拿来的 */
.letter {
    display: none;
    background-image: url(../images/letter/1.png);
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}

.header_l {
    height: 2vh;
}

.write-one_content {
    padding-top: 50px;
    text-align: left;
    width: 80%;
    height: 75vh;
}

input.prePage {
    margin-top: 3vh;
    margin-left: 3vh;
    height: 4.5vh;
}

.write-one_element {
    padding-top: 0px;
    position: relative;
    right: 0px;
}

.write-one_bottom {
    height: 10vh;
    width: 100%;
    /* margin-top: -5vh; */
    padding-top: 0px;
}

.nextPage {
    width: 43%;
    position: static;
    /* position: fixed; */
    bottom: 0;
    margin-left: -5%;
    bottom: 10%;
}
.change{
    transform: scale(2) !important;
}
/* 添加的部分 */
.mp3 {
    -webkit-appearance: media-play-button;
    width: 70%;
    margin-left: 5%;
    border-radius: 0.6rem;
    background-color: #f0f5f7;
    margin-bottom: 5%;
    margin-top: 3%;
}

.player {
    width: 8%;
    margin-left: 4%;
    margin-bottom: 2%;
    margin-top: 3%;
}

#voice_dele,.delemp3 {
    float: right;
    width: 8%;
    margin-right: -25px;
    margin-top: 4%;
}

.mp3>span {
    font-size: 14px;
    color: #656a6f;
    font-family: 'cute';
    font-weight: 600;
    position: absolute;
    margin-left: 10%;
    margin-top: 2%;
}

.add_img {
    width: 60px;
    height: 60px;
    margin-left: 5%;
}
.add_img:hover{
    height: auto;
    width: 80vw;
    position: absolute;
    top: 25vh;
    left: 5vw;
    overflow-y: scroll;
}
#write-sec>.content.write-one_content>.add_img:hover {
    height: auto;
    width: 80vw;
    position: absolute;
    top: 25vh;
    left: 5vw;
    overflow-y: scroll;
}
.deleimg {
    width: 15px;
    height: 15px;
    margin-left: -15px;
    margin-bottom: 50px;
}

/* 第三种信纸 */
/* #letter3 {
    /* 它的textarea会短一点 
    height: 30%;
    position: relative;
    margin-top: 80%;
} */
#letter3 {
    height: 30%;
    position: static;
    position: fixed;
    top: 40%;
    width: 200px;
}
#write-sec {
    background-image: url(../images/letter/3.png);
}

/* #write-sec>.content.write-one_content>.add_img {
    width: 60px;
    height: 60px;
    margin-left: -5%;
    /* transform: scale(0.7); 
    transform: scale(0.7) translate(40%, -165vw);
} */
#write-sec>.content.write-one_content>.add_img {
    width: 60px;
    height: 60px;
    margin-left: -5%;
    /* transform: scale(0.7); */
    transform: scale(0.7) translate(40%, -90px);
}
/* #write-sec>.content.write-one_content>.deleimg {
    width: 15px;
    height: 15px;
    margin-left: -15px;
    transform: scale(0.7);
    margin-bottom: 50px;
    /* transform: scale(0.65) translate(55%,-240%); 
    transform: scale(0.7) translate(80%, -160vw);
} */
#write-sec>.content.write-one_content>.deleimg {
    width: 15px;
    height: 15px;
    margin-left: -15px;
    transform: scale(0.7);
    margin-bottom: 50px;
    /* transform: scale(0.65) translate(55%,-240%); */
    transform: scale(0.7) translate(80%, -80px);
}
/* #write-sec>.content.write-one_content>.mp3 {
    -webkit-appearance: unset;
    color: transparent;
    width: 70%;
    margin-left: 5%;
    border-radius: 0.6rem;
    background-color: #f0f5f7;
    margin-bottom: 5%;
    margin-top: 3%;
    transform: scale(0.65) translate(55%, -240%);
} */
#write-sec>.content.write-one_content>.mp3 {
    -webkit-appearance: unset;
    color: transparent;
    width: 70%;
    margin-left: 5%;
    border-radius: 0.6rem;
    background-color: #f0f5f7;
    margin-bottom: 5%;
    margin-top: 3%;
    transform: scale(0.65) translate(55%, -80px);
}
/* 同学录样式 */
/* 以上为覆盖内容 包含同学录样式 */
/* 信纸选择器 */
.sender {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.sender>img {
    width: 12vw;
}

#page1>.page1_bottom {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding-left: 15%;
}

.choose_text {
    font-family: 'cute';
    color: white;
    margin-left: -20px;
    font-size: 18px;
    margin-top: 10px;
}

#J1 {
    background-image: url(../images/1.png);
}

#J2 {
    background-image: url(../images/2.png);
}

#J3 {
    background-image: url(../images/3.png);
}

#J1,
#J2,
#J3 {
    width: 100%;
    height: 8vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

.switchbox {
    margin-top: -8%;
    margin-bottom: 10px;
    width: 70vw;
    margin-left: 15vw;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    /* padding: 3%; */
    overflow-x: scroll;
    transform: scale(0.8);

}

.template {
    -webkit-appearance: button;
    background-color: white;
    width: 14px;
    height: 14px;
    margin-top: 10px;
    border-radius: 2rem;
    opacity: 0.1;

}

.template:checked {
    opacity: 1;
}

.show_img {
    width: 300px;
    font-size: 300px;
    height: 100%;
    background-image: url(../images/letter/1.png);
    color: transparent;
    background-size: 100% 100%;
}

#show_L1>label {
    height: 100%;
    background-image: url(../images/letter/1.png);
}

#show_L2>label {
    height: 100%;
    background-image: url(../images/letter/2.png);
}

#show_L3>label {
    height: 100%;
    background-image: url(../images/letter/3.png);
}

#show_L4>label {
    height: 100%;
    background-image: url(../images/letter/41.png);
}

.show_letter {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.choose {
    opacity: 0;
    -webkit-appearance: unset;
    width: 0px;
    height: 10px;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 50px solid #a59b92;
    border-top-color: transparent;
    border-top: 30px;
    /* position: absolute; */
    top: 0;
    transform: scale(0.2, 0.3);
    position: relative;
    margin-right: 20px;
}

.choose:checked {
    opacity: 1;

}

/*下面是普通信纸样式 */
.letter_text {
    width: 90%;
    margin-left: 5%;
    background: none;
    outline: none;
    border: none;
    /* color: white; */
    font-family: AdobeHeitiStd-Regular;
    font-size: 15px;
    font-weight: 100;
    font-stretch: normal;
    line-height: 34px;
    letter-spacing: 0px;
    color: #ffffff;
    height: 50%;
    overflow-y: scroll;
    letter-spacing: 2px;
    background-image: url(../images/letter/line.png);
    background-position-y: 33px;
    background-repeat: no-repeat;
    background-size: cover;
}

.add {
    width: 5vh;
    margin-left: 5%;
    margin-top: 4%;
    outline: none;
}



/* ！！！！！！！！！！！！！！！！！！！！！！！！！ */


input {
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
}



/* page1 */
#page1,
#page2 {
    width: 100vw;
    height: 100vh;
    background-color: #bfdbc5;
    padding-top: 0.1px;
    overflow: hidden;
}

.header_l {
    position: fixed;
}

.page1_content {
    text-align: center;
}

.page1_intro {
    box-sizing: border-box;
    width: 90%;
    height: 120%;
    overflow-y: scroll;
    margin: 5%;
    padding: 12% 10% 30% 10%;
    background: url(../images/other/K-1.png) no-repeat top center;
    background-size: 100%;
    font-family: AdobeHeitiStd-Regular;
    color: #646b6a;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    text-align: center;
    line-height: 27px;
}

p#num {
    float: right;
    margin-right: 15%;
    margin-left: -20%;
}

.page1_content {
    margin-top: 50px;
    width: 90%;
}

.page1_text {
    color: #3f454bcf;
    font-size: 16px;
}

.page1_bottom {
    margin-top: 5%;
}

#page2>.content {
    margin-top: 5%;
    color: #4b4f4b;
    font-size: 2.2vh;
}

#page2>.bottom {
    margin-top: -15%;
}

.year {
    margin-top: 15px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 18px;
}

.year_choose {
    margin-right: 15%;
    margin-left: 10%;
}

.year_choose>input[type="radio"] {
    -webkit-appearance: button;
    background: none;
    border: none;
    border-style: solid;
    padding: 8.5px;
    border-width: 1.2px;
    border-color: white;
    margin-bottom: -3.5px;
    margin-right: 4px;
}

.year_choose>input[type="radio"]:checked::before {
    content: "√";
    width: 0px;
    /* height: 10px; */
    position: absolute;
    /* transform: scale(3,1); */
    color: #5d655f;
    /* right: -10px; */
    transform: translate(-8px, -6px) scale(3, 2);
}

/* 收集信息 */
#write-TA-send {
    width: 100vw;
    height: 100vh;
    background: url(../images/other/back2.jpg);
    background-size: contain;
    padding-top: 0.1px;
}

#write-map {
    width: 340vh;
    height: 135vh;
}

.write-TA-re_header {
    width: 69%;
    margin: 14vh 14vw 6vh auto;
    margin-bottom: 40px;
    font-family: AdobeHeitiStd-Regular;
    font-size: 4vw;
    font-weight: 500;
    font-stretch: normal;
    line-height: 34px;
    letter-spacing: 2px;
    color: #3f454b;
    text-align: left;
}

.write-TA_content {
    padding-top: 100px;
}

.write-TA-re_content {
    width: 69%;
    text-align: left;
    font-size: 5vw;
}

.write-TA-re_content input[type="text"] {
    box-sizing: border-box;
    width: 260px;
    height: 44px;
    width: 100%;
    /* height: 12%; */
    border-radius: 6px;
    border: 2.5px solid #6e8f76;
    margin-bottom: 4vh;
    color: #3f454b;
}

.write-TA-re_btn {
    margin-top: 9%;
}

/* 反馈页面 */
#finish {
    width: 100vw;
    height: 100vh;
    background: url(../images/other/START&-bg.jpg);
    background-size: 100% 100%;
    padding-top: 0.1px;
    /* 让子元素的margin-top可用 */
}

.finish_content {
    padding: 24vh 0 26vh 0;
    font-family: AdobeHeitiStd-Regular;
    font-size: 7vw;
    font-weight: 500;
    font-stretch: normal;
    letter-spacing: 2px;
    color: #3f454b;
    text-align: center;
}

.finish_bottom {
    width: 40vw;
    height: 22vh;
    /* width: 40vw; */
    /* height: 11vh; */
    margin: auto;
    background-size: contain;
}

.finish_btn1 {
    width: 100%;
    height: 11vh;
    background: url(../images/other/反馈btn-再写一封.png) no-repeat center;
    background-size: contain;
}

.finish_btn2 {
    width: 100%;
    height: 11vh;
    background: url(../images/other/反馈btn-返回.png) no-repeat center;
    background-size: contain;
}
.mp3,.player,.delemp3,.add_img,.deleimg,.txl_add_img,#sing_box{
    cursor: pointer;
    display: none;
}