.header{
    text-align: left;
}
.content{
    padding-top: 50px;
    text-align: center;
}
.bottom{
    text-align: center;
    padding-top: 50px;
}
.element{
    padding-top: 400px;
    position: relative;
    right: 50px;
}
/* 播放录音的必备样式  开始*/
.voicePlay{
    background-color: green;
}
/* 播放录音的必备样式  结束*/
